<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-toolbar [ngStyle]="{width: '250px'}" push>
            <span class="text-xl">Menu</span>
            <span class="spacer"></span>
            <button (click)="sidenav.toggle()" mat-icon-button>

                <mat-icon> close </mat-icon>
            </button>
            <mat-list></mat-list>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item (click)="sidenav.toggle()" [routerLink]="item.url" *ngFor="let item of sidebarItems">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <span>{{item.label}}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon> menu </mat-icon>
        </button>
        <span class="spacer"></span>
        <small class="mr-2">{{user?.user}}</small>

        <button (click)="onLogout()" mat-raised-button>Log out</button>
    </mat-toolbar>

    <div class="container p-2">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>